<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>Dom dla każdego</title>

    <script type="text/javascript" src="/site_media/script.js"></script>
    {% block javascript  %}
    
    {% endblock %}  
   <link rel="stylesheet" href="/site_media/style.css" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="/site_media/style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/site_media/style.ie7.css" type="text/css" media="screen" /><![endif]-->
</head>
<body>
<div id="art-page-background-simple-gradient">
    </div>
    <div id="art-main">
        <div class="art-Sheet">
            <div class="art-Sheet-tl"></div>
            <div class="art-Sheet-tr"></div>
            <div class="art-Sheet-bl"></div>
            <div class="art-Sheet-br"></div>
            <div class="art-Sheet-tc"></div>
            <div class="art-Sheet-bc"></div>
            <div class="art-Sheet-cl"></div>
            <div class="art-Sheet-cr"></div>
            <div class="art-Sheet-cc"></div>
            <div class="art-Sheet-body">
                <div class="art-nav">
                	<div class="l"></div>
                	<div class="r"></div>
                	<ul class="art-menu">
                		<li>
                		  <a href="/" class=" active"><span class="l"></span><span class="r"></span><span class="t">Start</span></a>
                		</li>
                                <li>
                	          <a href="/heating/"><span class="l"></span><span class="r"></span><span class="t">Schemat instalacji</span></a>
                		</li>
                                <li>
                		  <a href="/photos/"><span class="l"></span><span class="r"></span><span class="t">Zdjęcia</span></a>
                		</li>
                                <li>
                	          <a href="/costs/"><span class="l"></span><span class="r"></span><span class="t">Koszty Energii</span></a>
                		</li>
                                <li>
                	          <a href="/contact/"><span class="l"></span><span class="r"></span><span class="t">Kontakt</span></a>
                		</li>
                        
                	</ul>
                </div>
                <div class="art-contentLayout">
                    <div class="art-content">
                      <div class="art-Post">
                        <div class="art-Post-body">
                          <div class="art-Post-inner">
                            
                            
                            {% block main %}
                            FIXME
                            {% endblock %}
                            
                            
                          </div>
                          <div class="cleared"></div>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="cleared"></div>
                <div class="art-Footer">
                  <div class="art-Footer-inner">
                    <div class="art-Footer-text">
                      <p>Copyright &copy; Kapex. All Rights Reserved.</p>
                    </div>
                  </div>
                  <div class="art-Footer-background"></div>
                </div>
        	<div class="cleared"></div>
            </div>
        </div>
        <div class="cleared"></div>
        <p class="art-page-footer"><a href="http://www.m3system.pl/"></a></p>
    </div>
    
</body>
</html>
