{% extends "polls/base.html" %}

{% block main %}

    <div class="art-PostMetadataHeader">
        <h2 class="art-PostHeader">
          Dane kontaktowe
        </h2>
    </div>
    
    <div class="art-PostContent">
      <div class="wrapper">
        <div class="left" style="padding-left: 120px">
                <p style="padding-top: 0px;
                          padding-bottom: 20px;">
                  <b>Wawel Service Sp. z o.o.</b><br/>
                  Plac na Groblach 21<br/>
                  31-101 Kraków<br/>
                  <a href="http://www.wawel-service.pl">
                    www.wawel-service.pl
                  </a>
                </p>
                <p style="padding-bottom: 20px;">
                  <b>Viessmann</b><br/>
                  <a href="http://www.viessmann.pl">
                    www.viessmann.pl
                  </a>
                </p>
                <p style="padding-bottom: 20px;">
                  <b>Kapex sp. z o.o.</b><br/>
                  30-721 Kraków <br/>
                  ul. Przewóz 49 <br/>
                  tel. (12)292-17-77 <br/>
                  fax. (12)292-26 66 <br/>
                  <a href="http://www.kapex.com.pl/">
                    www.kapex.com.pl
                  </a>
                </p>
        </div>
        <div class="right">
          <div style="padding-top:150px;">
            <img src="/site_media/images/wawel_service_logo.jpg" 
                 style="padding-right:15px;" />
            <img src="/site_media/images/viessmann_logo.jpg" />          
          </div>
        </div>
      </div>     
    </div>

{% endblock %}


    
