{% extends "polls/base.html" %}

{% block main %}

    <div class="art-PostContent">
      <div align="left">	  
        <br />
        <br />

        Adres Wawel Service ?

      </div>
                 
    </div>
    
    <div class="art-PostContent">
      <div class="wrapper">


        <div class="right">
          <img src="/site_media/images/wawel_service_logo.jpg" 
               style="padding-right:15px;" />
          <img src="/site_media/images/viessmann_logo.jpg" />          
        </div>

      </div>     
    </div>

{% endblock %}


    
