{% extends "polls/base.html" %}


{% block main %}

    <div class="art-PostMetadataHeader">
        <h2 class="art-PostHeader">
          Koszty zużycia energii elektrycznej
        </h2>
    </div>

    <div class="art-PostContent">
      <div align="center" style="padding-top: 30px;
                                 padding-left: 30px;
                                 padding-right: 30px;">
        
        <table class="gridtable" width="700px">
          <tr>
            <th rowspan="1" width="50px"><b>Rok</b></th>
            <th rowspan="1" width="150px">Zużyta energia<br/> elektryczna (kWh)</th>
            <th rowspan="1" width="150px">Wytworzona energia<br/> cieplna (kWh)</th>
            <th rowspan="1" width="150px">Zależność COP<br/> En. Cieplna/Elec</th>
            <th rowspan="1" width="150px">Koszty<br/>(PLN)</th>
            <th colspan="1" width="50px">Wykresy</th>
          </tr>
          
          {% for yearcost in yearscosts %}
          <tr>
            <td><b>{{ yearcost.period }}<b></td>
            <td><font color="blue">{{ yearcost.usage }}</font></td>
            <td><font color="red">{{ yearcost.thermal }}</font></td>
            <td><font color="green">{{ yearcost.cop }}</font></td>
            <td><b>{{ yearcost.cost }}</b></td>
            <td>
              <a href="/yeartemp/{{ yearcost.period }}/"
                 style="text-decoration:none" >
                <img style="padding:0px;" 
                     src="/site_media/images/chart_line.png" 
                     alt="Temparatura"
                     title="Wykres przebiegu temparatury"
                     />
              </a>&nbsp;&nbsp;        
              <a href="/yearenergy/{{ yearcost.period }}/"
                 style="text-decoration:none">
                <img style="padding:0px;" 
                     src="/site_media/images/chart_bar.png"
                     alt="Energia"
                     title="Wykres zużycia energii elektrycznej i cieplnej"
                     />
              </a>
            </td>
          </tr>
          {% endfor %}          
        </table>
      </div>
                  
      <div align="center" style="padding-top: 30px;
                                 padding-left: 30px;
                                 padding-right: 30px;">
        <table class="gridtable" width="700px">
          <tr>
            <th rowspan="1" width="50px"><b>Miesiąc</b></th>
            <th rowspan="1" width="150px">Zużyta energia<br/> elektryczna (kWh)</th>
            <th rowspan="1" width="150px">Wytworzona energia<br/> cieplna (kWh)</th>
            <th rowspan="1" width="150px">Zależność COP<br/> En. Cieplna/Elec</th>
            <th rowspan="1" width="150px">Koszty<br/>(PLN)</th>
            <th colspan="1" width="50px">Wykresy</th>
          </tr>

          {% for monthcost in monthscosts %}
          <tr>
            <td><b>{{ monthcost.period }}<b></td>
            <td><font color="blue">{{ monthcost.usage }}</font></td>
            <td><font color="red">{{ monthcost.thermal }}</font></td>
            <td><font color="green">{{ monthcost.cop }}</font></td>
            <td><b>{{ monthcost.cost }}</b></td>
            <td>
              <a href="/monthtemp/{{ monthcost.period }}/"
                 style="text-decoration:none">
                <img style="padding:0px;" 
                     src="/site_media/images/chart_line.png" 
                     alt="Temparatura"
                     title="Wykres przebiegu temparatury"
                     />
              </a>&nbsp;&nbsp;
              <a href="/monthenergy/{{ monthcost.period }}/"
                 style="text-decoration:none">
                <img style="padding:0px;" 
                     src="/site_media/images/chart_bar.png"
                     alt="Energia"
                     title="Wykres zużycia energii elektrycznej i cieplnej" 
                     />
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>          
            
    </div>

   
    <div class="art-PostContent">
      <div class="wrapper">
        
        <div class="left" style="padding-left: 100px;
                                 width: 450px">
          <p>Założono, że 1 kWh w przypadku standardowej taryfy kosztuje 0,55 PLN. W skład tej kwoty wchodzi koszt energii elektrycznej (0,24 PLN), opłata systemowa zmienna (0,09 PLN) oraz opłata sieciowa zmienna (0,22 PLN).</p>
        </div>
        
        <div class="right" style="padding-top: 10px">
          <img src="/site_media/images/wawel_service_logo.jpg" 
               style="padding-right:15px;" />
          <img src="/site_media/images/viessmann_logo.jpg" />          
        </div>
      </div> 
      
    </div>


{% endblock %}


    
