{% extends "polls/base.html" %}

{% block javascript %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});

      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
        data.addColumn('number', 'Energia elektryczna [kWh]');
        data.addColumn('number', 'Energia cieplna [kWh]');
        data.addRows(
         {% autoescape off %}
             {{ data }}
         {% endautoescape %}
        );

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, 
                   {width: 750, 
                    height: 420, 
                    title: '',
                    hAxis: {title: 'Godzina', 
                            titleTextStyle: {color: '#FF0000'}}});
      }

 </script>

{% endblock %}

{% block main %}

    <div class="art-PostMetadataHeader">
        <h2 class="art-PostHeader">
          Różnica przyrostu energii w poszczególnych godzinach
        </h2>
    </div>

    <div class="art-PostContent">      
      <div style="padding-top:20px;
                  padding-bottom:20px;" 
           align="center" 
           id="chart_div"> 
      </div>

      <table style="margin-left:auto;
                    margin-right:auto;
                    text-align:center;">
        <tr>
          <td>
            {% if prevdate %} 
            <a href="/dayenergy/{{prevdate}}/">
              <img style="padding:1px;"
                   src="/site_media/images/arrow_left.png"
                   alt="Poprzedni dzień" />
            </a>
            {% endif %}
          </td>
          <td>
            <b>{{ year }}/{{ month }}/{{ day }}</b>
          </td>
          <td>
            {% if nextdate %} 
            <a href="/dayenergy/{{nextdate}}/">
              <img style="padding:1px;"
                   src="/site_media/images/arrow_right.png"
                   alt="Następny dzień" />
            </a>
            {% endif %}
          </td>
        </tr>
      </table>

      <div class="left">      
        <p>
          <a href="/monthenergy/{{year}}/{{month}}/">           
            Wykres miesięczny
          </a>      
        </p>
      </div>

      <div class="right">      
        <p>            
          <img src="/site_media/images/chart_line.png" /> 
          <a href="/daytemp/{{year}}/{{month}}/{{day}}/">           
            Wykres temperatury
          </a>      
        </p>
      </div>

    </div>
{% endblock %}
