{% extends "polls/base.html" %}

{% block javascript %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});

      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
        data.addColumn('number', 'Temp. na zewnątrz');
        data.addColumn('number', 'Temp. wewnątrz');
        data.addRows(
      {% autoescape off %}
           {{ data }}
      {% endautoescape %}
      );
        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, 
                   {width: 750, 
                    height: 420, 
                    title: 'Temperatura w kolejnych godzinach pomiarów',
                    hAxis: {title: 'Czas', 
                            titleTextStyle: {color: '#FF0000'}}});
      }

 </script>

{% endblock %}

{% block main %}

    <div class="art-PostMetadataHeader">
        <h2 class="art-PostHeader">
         Pomiar temperatury w ciagu dnia
        </h2>
    </div>

    <div class="art-PostContent">
      <div align="center">
	
        <br />
        <br />
        <p>{{ year }}/{{ month }}/{{ day }}</p>
        <br />

      </div>

        <div style="padding-top:20px;
                    padding-bottom:20px;" 
             align="center" 
             id="chart_div"> 
        </div>
     
    </div>
{% endblock %}
