{% extends "polls/base.html" %}

{% block main %}

    <div class="art-PostContent">
      <div align="left" style="padding-top: 0px;
                               padding-left: 40px;
                               padding-right: 40px;
                               padding-bottom: 20px;">	  

        <p>        
          <h5>Ogrzewanie i chłodzenie dzięki jednostce wewnętrznej i zewnętrznej</h5>
        </p>
        <p>
          Pompa ciepła typu Split - Vitocal 200-S wykorzystuje w efektywny sposób otaczające nas ciepło z powietrza zewnętrznego.
        </p>
        <p>
          Pompa ciepła Vitocal 200-S dostępna jest alternatywnie jako system grzewczy budynku lub też jako system grzewczo-chłodzący. Vitocal 200-S wykorzystuje ciepło zawarte w powietrzu zewnętrznym. Odporna na warunki meteorologiczne jednostka zewnętrzna pozwala na dużą swobodę zabudowy w sąsiedztwie budynku. Dzięki niewielkim gabarytom i masie, możliwe jest także jej instalowanie na ścianach zewnętrznych budynku, czy też na dachu płaskim.
        </p>      
        <div align="center" style="padding-top: 20px;
                                   padding-bottom: 20px;">
          <img style="padding:1px;
                      border:1px solid #B5B8AD;
                      background-color:#000000;" 
               src="/site_media/images/heiztechniklexikon.jpg" />
          <p style="padding-left: 140px;">
            Pompa ciepła typu Split - Vitocal 200-S w nowym budynku<br/>
            1 - jednostka wewnętrzna i zewnętrzna pompy ciepła Vitocal 200-S<br/>
            2 - podgrzewacz pojemnościowy ciepłej wody użytkowej
        </p>
        </div>
        <p>
          Jednostka wewnętrzna instalowana jest w pomieszczeniu użytkowym. Zawiera ona układy hydrauliczne, wymiennik ciepła, pompę obiegu grzewczego i zawór trzydrogowy dla przełączania trybu pracy pomiędzy ogrzewaniem budynku, a podgrzewaniem ciepłej wody użytkowej. Opcjonalnie wbudowany może być 3-stopniowy przepływowy podgrzewacz wody grzewczej (w wersji AWS AC wyposażenie standardowe).
        </p>
        <p>
          W okresie letnim pompa ciepła typu Split - Vitocal 200-S w wersji AWS AC może być wykorzystywany do chłodzenia pomieszczeń z użyciem klimakonwektorów czy też ogrzewania podłogowego.
        </p>
        <p>
          <h5>Efektywna praca z dostosowaniem wydajności do zapotrzebowania</h5>
        </p>
        <p>
          Pompa ciepła Vitocal 200-S pracuje szczególnie ekonomicznie przy obciążeniu częściowym. W tym celu korzysta ona z nowoczesnej technologii DC-Inverter, dostosowując w sposób płynny (modulowany) wydajność sprężarki do zapotrzebowania na ciepło.
        </p>
      </div>
                 
    </div>
    
    <div class="art-PostContent">
      <div class="wrapper">
        <div class="right">
          <img src="/site_media/images/wawel_service_logo.jpg" 
               style="padding-right:15px;" />
          <img src="/site_media/images/viessmann_logo.jpg" />          
        </div>

      </div>     
    </div>

{% endblock %}


    
