<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>Dom dla każdego</title>

    <script type="text/javascript" src="/site_media/script.js"></script>
    <script type="text/javascript" src="/site_media/prototype.js"></script>
    <script type="text/javascript">
      function update_temp(Id) {
      new Ajax.PeriodicalUpdater('update_temp_'+Id, '/update_temp/'+Id+'/', {
      method: 'get', frequency: 30, decay: 1});
      return false;
      };
    </script>

    <script language="Javascript">
      function toggleDiv(id,flagit) {
      if (flagit=="1"){
      if (document.layers) document.layers[''+id+''].visibility = "show"
      else if (document.all) document.all[''+id+''].style.visibility = "visible"
      else if (document.getElementById) document.getElementById(''+id+'').style.visibility = "visible"
      }
      else if (flagit=="0"){
      if (document.layers) document.layers[''+id+''].visibility = "hide"
      else if (document.all) document.all[''+id+''].style.visibility = "hidden"
      else if (document.getElementById) document.getElementById(''+id+'').style.visibility = "hidden"
      }
      }
    </script>

   <link rel="stylesheet" href="/site_media/style.css" type="text/css" media="screen" /> 
    <!--[if IE 6]><link rel="stylesheet" href="/site_media/style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="/site_media/style.ie7.css" type="text/css" media="screen" /><![endif]-->

    <style type="text/css">
      #div1 {position:relative; top: 210px; left: 450px; width:130px; visibility:hidden;
             background-color:#b0c4de; border:1px solid #0000ff; padding: 5px}
      #div2 {position:relative; top: 300px; left: 450px; width:130px; visibility:hidden;
             background-color:#b0c4de; border:1px solid #0000ff; padding: 5px}
    </style>

</head>

<body style="background-color: #ffffff;
             color: #000000;
             font-family: Tahoma,Arial,Helvetica,Sans-Serif;
             font-size: 12px;
             text-align: center">
  <script>
    window.onload=function(){
    update_temp('in');
    update_temp('out');
    }  
  </script>

  <p style="font-size: 15px;"><b>Średni koszt ogrzewania to:</b></p>

  <div style="color: red;
              font-size: 24px;">
    <p><b>{{day_cost}} zł dziennie</b></p>
    <p><b>{{month_cost}} zł miesięcznie</b></p>
  </div>

  <div style="position:relative;
              top:-150px;">

    <div style="position:relative; 
                left:150px; 
                top:205px; 
                color:#000;"
         onMouseOver="toggleDiv('div1',1)" 
         onMouseOut="toggleDiv('div1',0)">
      <div id="update_temp_out">
        <b>Temperatura na zewnątrz: {{out}} &deg;C</b>
      </div>
    </div> 
    <div style="position:relative; 
                left:150px; 
                top:205px;"
         onMouseOver="toggleDiv('div1',1)" 
         onMouseOut="toggleDiv('div1',0)">
      <img src="/site_media/images/blink.gif" />
    </div>
    
    <div id="div1">
      Temperatura mierzona na zewnątrz budynku
    </div>

    <div style="position:relative; 
                left:140px; 
                top:290px; 
                color:#000;"
         onMouseOver="toggleDiv('div2',1)" 
         onMouseOut="toggleDiv('div2',0)">
      <div id="update_temp_in">
        <b>Temperatura wewnątrz: {{in}} &deg;C</b>
      </div>
    </div>
    <div style="position:relative; 
                left:240px; 
                top:290px;"
         onMouseOver="toggleDiv('div2',1)" 
         onMouseOut="toggleDiv('div2',0)">
      <img src="/site_media/images/blink.gif" />
    </div>

    <div id="div2">
      Temperatura mierzona w budynku
    </div>

    <img style="padding:1px;
                border:1px solid #B5B8AD;
                background-color:#000000;" 
         src="/site_media/images/dom1.jpg" />
  </div>  
  <div style="position:relative;
              top:-150px;
                padding-left: 620px" 
       onMouseOver="toggleDiv('div1',1), 
                    toggleDiv('div2',1)" 
       onMouseOut="toggleDiv('div1',0),
                   toggleDiv('div2',0)">
    <div style="padding-top:0px;">
      <img src="/site_media/images/icon_info.png"/>
    </div>
  </div>
  <div style="position:relative;
              top:-150px;">
    <table class="gridtable" style="margin-left:auto;
                                    margin-right:auto;
                                    text-align:center;">
      <tr>
        <th>Rok</th>
        <th>Zużyta energia<br/> (kWh)</th>
        <th>Koszty<br/> (PLN)</th>
      </tr>                
      {% for yearcost in yearscosts %}
      <tr>
        <td><b>{{ yearcost.period }}</b></td>
        <td>{{ yearcost.usage }}</td>
        <td>{{ yearcost.cost }}</td>
      </tr>
      {% endfor %}
    </table>
    
    <p> </p>
    
    <table class="gridtable" style="margin-left: auto;
                                    margin-right: auto;
                                    text-align: center;">
      <tr>
        <th>Miesiąc</th>
        <th>Zużyta energia<br/> (kWh)</th>
        <th>Koszty<br/> (PLN)</th>
      </tr>
      {% for monthcost in monthscosts %}
      <tr>
        <td><b>{{ monthcost.period }}</b></td>
        <td>{{ monthcost.usage }}</td>
        <td>{{ monthcost.cost }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
    
  <p> </p>
  
  <div style="position:relative;
              top:-130px;">
    <img src="/site_media/images/viessmann_logo.jpg" />          
  </div>
  
</body>
</html>
