{% extends "polls/base.html" %}

{% block javascript %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});

      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
        data.addColumn('number', 'Energia elektryczna [kWh]');
        data.addColumn('number', 'Energia cieplna [kWh]');
        data.addRows(
         {% autoescape off %}
             {{ data }}
         {% endautoescape %}
        );

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, 
                   {width: 750, 
                    height: 420, 
                    title: '',
                    hAxis: {title: 'Dzień', 
                            titleTextStyle: {color: '#FF0000'}}});
      }

 </script>

{% endblock %}

{% block main %}

    <div class="art-PostMetadataHeader">
        <h2 class="art-PostHeader">
          Różnica przyrostu energii w poszczególnych dniach
        </h2>
    </div>

    <div class="art-PostContent">
      <div style="padding-top:20px;
                  padding-bottom:20px;" 
           align="center" 
           id="chart_div"> 
      </div>

      <table style="margin-left:auto;
                    margin-right:auto;
                    text-align:center;">
        <tr>
          <td>
            {% if prevdate %} 
            <a href="/monthenergy/{{prevdate}}/">
              <img style="padding:1px;"
                   src="/site_media/images/arrow_left.png"
                   alt="Poprzedni miesiąc" />
            </a>
            {% endif %}
          </td>
          <td>
            <b>{{ year }}/{{ month }}</b>
          </td>
          <td>
            {% if nextdate %} 
            <a href="/monthenergy/{{nextdate}}/">
              <img style="padding:1px;"
                   src="/site_media/images/arrow_right.png"
                   alt="Następny miesiąc" />
            </a>
            {% endif %}
          </td>
        </tr>
      </table>

      <div class="left">
        Wybierz dzień:
        <p>
          {% if days %}
          <form action="/selectday_energy/" method="post">
            {% csrf_token %}
            <select name="selectday">
              {% for day in days %}
              <option value="{{day}}">{{day}}</option>
              {% endfor %}
            </select>
            <input type="submit"
                   value="Pokaż wykresy" />
          </form>                               
          {% else %}
        <p> Baza pomiarów jest pusta.</p>
        {% endif %}
        </p>
      </div>

      <div class="right">      
        <p>            
          <img src="/site_media/images/chart_line.png" /> 
          <a href="/monthtemp/{{year}}/{{month}}/">           
            Wykres temperatury
          </a>      
        </p>
      </div>

    </div>
{% endblock %}
