{% extends "polls/base.html" %}

{% block main %}

    <div class="art-PostMetadataHeader">
        <h2 class="art-PostHeader">
         Miesięczny raport
        </h2>
    </div>

    <div class="art-PostContent">
		<div align="center">
		
        <br />
        <br />
        <p>{{ year }}/{{ month }}</p>
        <br />
        <br />
        <img src="/monthTempChart/{{ year }}/{{ month }}/"> 
        <br />
        <br />
        <img src="/monthElecBarChart/{{ year }}/{{ month }}/"> 
        </div>

        {% if days %}
            <table>
            {% for day in days %}
                <tr>
                        <td><a href="/dayreport/{{day}}/">{{day}}</a></td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No measures are available.</p>
        {% endif %}

    </div>
{% endblock %}
