{% extends "polls/base.html" %}

{% block javascript %}

   <style>
            #galleria{height:600px}
    </style>
    <script type="text/javascript" src="/site_media/jquery.js"></script>
    <script type="text/javascript" src="/site_media/galleria/galleria-1.2.5.min.js"></script>
    <link rel="stylesheet" href="/site_media/css/galleria.classic.css" type="text/css" media="screen" />
    
{% endblock %}

{% block main %}
    <div class="art-PostContent">
     <div id="galleria">
        <img src="/site_media/images/niepolomice/IMG_0138.jpg" />  
        <img src="/site_media/images/niepolomice/IMG_0139.jpg" />  
        <img src="/site_media/images/niepolomice/IMG_0140.jpg" /> 
        <img src="/site_media/images/niepolomice/IMG_0144.jpg" />
        <img src="/site_media/images/niepolomice/IMG_0147.jpg" />  
        <img src="/site_media/images/niepolomice/IMG_0154.jpg" />  
        <img src="/site_media/images/niepolomice/IMG_0155.jpg" />  
        <img src="/site_media/images/niepolomice/IMG_0156.jpg" />
        <img src="/site_media/images/niepolomice/IMG_0158.jpg" /> 
    </div>
    
    </div>
    <script>

    // Load the classic theme
	Galleria.loadTheme('/site_media/galleria/galleria.classic.min.js');

	// Initialize Galleria
	$('#galleria').galleria();

    </script> 
{% endblock %}


    
